<nav class="navbar navbar-expand-lg sticky-top"
	ng-class="{'navbar-light bg-light': isLightMode, 'navbar-dark bg-black': !isLightMode}">

	<div class="container-fluid d-flex justify-content-between align-items-center">
		<a class="navbar-brand" style="font-size: 40px; font-weight: bold;" href="/">PADZ</a>

		<!-- search-->
		<div class="d-flex align-items-center">
			<div class="search-container">
				<div class="input-group">
					<span class="input-group-text" id="search-icon">
						<i class="fas fa-search"></i> <!-- Ikon kaca pembesar -->
					</span>
					<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Cari Artikel"
						title="Type in a name" class="form-control">
				</div>
			</div>

			<!-- Subscribe button -->
			<!-- <i class="fas fa-bell me-3 subs_button" ng-click="subscribeAlert()" style="cursor: pointer"></i> ( untuk pop up lanngsung dari chrome )-->
			<!-- untuk pop up modal-->
			<i class="fas fa-bell me-3 subs_button" data-bs-toggle="modal" data-bs-target="#subscribeModal"></i>
			<!-- toogle switch mode-->
			<i class="fas me-3" id="toogle_dark_light" ng-click="toggleTheme()"
				ng-class="isLightMode ? 'fa-sun' : 'fa-moon'"></i>
			<!-- toogle login-->
			<a class="fas me-3" id="toogle_login" ng-class="{'fa-user': !isLoggedIn, 'fa-sign-out-alt': isLoggedIn}"
				ng-click="handleLoginClick()" ng-href="/loginPage" title="{{ isLoggedIn ? 'Logout' : 'Login' }}"
				style="text-decoration: none"></a>

			<!-- toogle hambuger stip 3 -->
			<div class="dropdown ms-1">
				<span class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">☰</span>
				<ul class="dropdown-menu dropdown-menu-end">
					<li>
						<a class="dropdown-item" href="/">HOME</a>
					</li>
					<li>
						<a class="dropdown-item" href="/#fashion-style-padz">FASHION STYLE PADZ</a>
					</li>
					<li>
						<a class="dropdown-item" href="/#rekomendasi-fashion-style">REKOMENDASI FASHION
							STYLE</a>
					</li>
					<li>
						<a class="dropdown-item" href="/#berita-fashion">BERITA SEPUTAR FASHION</a>
					</li>
					<li>
						<a class="dropdown-item" href="/#tentang-kami">TENTANG KAMI</a>
					</li>
					<li>
						<a class="dropdown-item" href="/#contact">CONTACT</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<audio id="audio_player" ng-src="{{audioSrc}}" preload="auto">
	</audio>
</nav>

<!-- Subscribe Modal -->
<div class="modal fade" id="subscribeModal" tabindex="-1" aria-labelledby="subscribeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content"
			style="background-image: url('../image/21-3.jpg'); background-size: cover; background-position: center; color: white;">
			<div class="modal-header">
				<h5 class="modal-title" id="subscribeModalLabel" style="color: rgb(255, 0, 0);">Thank You for
					Subscribe!</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p style="color: rgb(255, 255, 255);">Thank you for supporting us! Here’s the link to join our
					community group:
				</p>
				<p><a href="https://chat.whatsapp.com/GiPZlfIxHc4DR3xxUOA9ud" target="_blank">Join WhatsApp
						Group</a>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- code di bawah ini untuk menampilkan artikel di search navbar-->
<div>
	<div class="container my-5">
		<div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
			<!-- Fashion 1 -->
			<div id="article-container" style="display: none;">>
				<div class="col">
					<div class="card h-100">
						<a href="/artikel1">
							<img src="../image/outfit1.jpg" class="card-img-top" alt="Foto Dziko" />
						</a>
						<div class="card-body">
							<p class="article-category">
								STYLE & TRENDS
							</p>
							<h5 class="article-title">
								Berikut Fashion
								Style Yang Dikenakan
								Dziko
							</h5>
							<p class="article-date">
								PADZ Official - 30
								September 2024
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Fashion 2 -->
			<div id="article-container" style="display: none;">>
				<div class="col">
					<div class="card h-100">
						<a href="/artikel2">
							<img src="../image/outfit2.jpg" class="card-img-top" alt="Foto Wilbert" />
						</a>
						<div class="card-body">
							<p class="article-category">
								STYLE & TRENDS
							</p>
							<h5 class="article-title">
								Wow Mengejutkan
								Ternyata Inilah
								Rahasia Dibalik
								Penampilan Hypebeast
								Mahasiswa Bernama
								Oscar!
							</h5>
							<p class="article-date">
								PADZ Official - 1
								Oktober 2024
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Fashion 3 -->
			<div id="article-container" style="display: none;">>
				<div class="col">
					<div class="card h-100">
						<a href="/artikel3">
							<img src="../image/outfit3.jpg" class="card-img-top" alt="Foto Zimar" />
						</a>
						<div class="card-body">
							<p class="article-category">
								STYLE & TRENDS
							</p>
							<h5 class="article-title">
								Berikut Setelan
								Formal Wilbert Yang
								Sangat Cocok Di
								Pakai Untuk Gen Z
							</h5>
							<p class="article-date">
								PADZ Official - 3
								Oktober 2024
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Fashion 4 -->
			<div id="article-container" style="display: none;">>
				<div class="col">
					<div class="card h-100">
						<a href="/artikel4">
							<img src="../image/outfit4.jpg" class="card-img-top" alt="Foto John" />
						</a>
						<div class="card-body">
							<p class="article-category">
								STYLE & TRENDS
							</p>
							<h5 class="article-title">
								Tren Oversized yang
								Sedang Digemari Kaum
								Muda
							</h5>
							<p class="article-date">
								PADZ Official - 5
								Oktober 2024
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Fashion 5 -->
			<div id="article-container" style="display: none;">>
				<div class="col">
					<div class="card h-100">
						<a href="/artikel5">
							<img src="../image/outfit5.jpg" class="card-img-top" alt="Foto Sarah" />
						</a>
						<div class="card-body">
							<p class="article-category">
								STYLE & TRENDS
							</p>
							<h5 class="article-title">
								Inspirasi Outfit
								Santai untuk Akhir
								Pekan
							</h5>
							<p class="article-date">
								PADZ Official - 6
								Oktober 2024
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Fashion 6 -->
			<div id="article-container" style="display: none;">>
				<div class="col">
					<div class="card h-100">
						<a href="/artikel6">
							<img src="../image/outfit6.jpg" class="card-img-top" alt="Foto Lisa" />
						</a>
						<div class="card-body">
							<p class="article-category">
								STYLE & TRENDS
							</p>
							<h5 class="article-title">
								Fashion Vintage yang
								Kembali Populer di
								Kalangan Gen Z
							</h5>
							<p class="article-date">
								PADZ Official - 7
								Oktober 2024
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Fashion 7 -->
			<div id="article-container" style="display: none;">>
				<div class="col">
					<div class="card h-100">
						<a href="/artikel7">
							<img src="../image/outfit7.jpg" class="card-img-top" alt="Foto John" />
						</a>
						<div class="card-body">
							<p class="article-category">
								STYLE & TRENDS
							</p>
							<h5 class="article-title">
								Pakaian yang sangat cocok di pakai ketika di atas gunung jika ingin tetap bergaya
								fashion style
							</h5>
							<p class="article-date">
								PADZ Official - 13
								November 2024
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Fashion 8 -->
			<div id="article-container" style="display: none;">>
				<div class="col">
					<div class="card h-100">
						<a href="/artikel8">
							<img src="../image/outfit8.jpg" class="card-img-top" alt="Foto Sarah" />
						</a>
						<div class="card-body">
							<p class="article-category">
								STYLE & TRENDS
							</p>
							<h5 class="article-title">
								Streetwear modern dengan gaya kasual, monochrome, dan sneakers mencolok sangat cocok
								di pakai bepergian malam hari
							</h5>
							<p class="article-date">
								PADZ Official - 15
								November 2024
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Fashion 9 -->
			<div id="article-container" style="display: none;">>
				<div class="col">
					<div class="card h-100">
						<a href="/artikel9">
							<img src="../image/outfit9.jpg" class="card-img-top" alt="Foto Lisa" />
						</a>
						<div class="card-body">
							<p class="article-category">
								STYLE & TRENDS
							</p>
							<h5 class="article-title">
								Rekomendasi Fashion streatwear yang sangat cocok ketika di pakai untuk traveling
							</h5>
							<p class="article-date">
								PADZ Official - 18
								November 2024
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>